/* You can add global styles to this file, and also import other style files */

  @font-face {
    font-family: "Poppins";
    src: url(assets/font/Poppins-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: "PoppinsB";
    src: url(assets/font/Poppins-Bold.ttf) format('ttf');
  }

  @font-face {
    font-family: "PoppinsL";
    src: url(assets/font/Poppins-Light.ttf) format('ttf');
  }

  @font-face {
    font-family: "PoppinsEL";
    src: url(assets/font/Poppins-ExtraLight.ttf) format('ttf');
  }

